h1 {
	color: white;
	font-size: 70px;
	background-color: black;
	opacity:0.7;
	text-align: center;
	border: 7px solid white;
	border-radius: 20px;
}
body{	
	background: url("images/background.JPG");
	font-family: georgia;
}
p{
	color: purple;
	font-size: 35px;
	text-align: center;
}

a{
	text-decoration: none;
}

.button{
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:50px;
	font-size:20px;
	color:#fff;
	line-height:100px;
	text-align:center;
	
	background:#000
}
div{
	text-align: center;
	padding: 10px;
}